.container {
    max-width: 1140px;
    margin: 0 auto;
}

footer {
    height: 795px;
}

footer h2 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

.subscribe {
    text-align: center;
}

.subscribe input {
    width: 313px;
    height: 40px;
    border: 1px solid #D9DADB;
}

.btn {
    width: 119px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #4592FF;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

}

.menu {
    width: 1140px;
    height: 240px;
    display: flex;
    margin-top: 80px;
    text-align: left;
}

.line {
    width: 195px;
    height: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.red {
    background: #FF4F52;
}

.purple {
    background: #AC8EE3;
}

.blue {
    background: #4592FF;
}

.orange {
    background: #FFA34D;
}

.green {
    background: #3DC47E;
}

.light_blue {
    background: #6E99AE;
}

.menu a {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #262D33;
    margin-top: 15px;  
}

.menu li {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    list-style-type: none;
    text-decoration-skip-ink: none;
    color: #4B5157;
    margin-bottom: 20px;
    margin-left: -39px;
    width: 165px;
    height: 20px;
}
